#mainFight {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

#clock {
    position: absolute;
    left: 50%;
    top: 14px;
    margin-left: -15px;
}

#selfDemon {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -40px;
    text-align: center;
}

#actions {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px
}
body{
    background: #DFBF50
}
.act {
    background-color: lightgrey;
    margin-top: 5px;
    margin-bottom:5px;
}

.act:hover:not(.selected) {
    background-color: darkgrey;
}

.selected {
    background-color: grey;
}
.actionCol {
    float: left;
    width: 174px;
    margin-left: -4px;
}

#invitations {
    width: calc(100% - 170px - 170px - 170px);
}

.actionColInner {
    border-left: 4px solid black;
    border-right:4px solid black;
}

.fight {
    width: 100%;
    height: 100%;
}

.fightSide {
    border: 1px solid red;
    height: 100%;
}

.fightSideLeft {
    width: 40%;
    float: left
}

.fightSideRight {
    width: 40%;
    float: right;
    text-align: right;
}

.fightSideLeft.demon {
    float: left
}

.fightSideRight.demon {
    float: right
}

.demon {
    display: inline-block;
    width: 80px;
    overflow: hidden;
}

.demonPower {
    font-weight: bold;
    color: red;
}

.human {
    background: lightyellow;
}

.you {
    filter:drop-shadow(0px 0px 10px #0af)drop-shadow(0px 0px 20px #0af)
    /*background: lightblue;*/
}

.highlight {
    filter:drop-shadow(0px 0px 10px lightgreen)drop-shadow(0px 0px 20px lightgreen)
    /*background: lightgreen;*/
}

.hidden {
    display: none;
}

.invitation {
    height: 200px;
    /* TODO: why is this necassary... 
    without this, height is 0 (despite containing children with nonzero height)
    find a way to do this that doesn't require a fixed height? */
}

.summonCount {
    display: inline-block;
}
