#mainFight {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

#clock {
    position: absolute;
    left: 50%;
    top: 14px;
    margin-left: -15px;
}

#selfDemon {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -40px;
    text-align: center;
}

#actions {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px
}
body{
    background: #DFBF50
}
.act {
    background-color: lightgrey;
    margin-top: 5px;
    margin-bottom:5px;
    padding: 2px 4px;
}

.act:hover:not(.selected) {
    background-color: darkgrey;
}

.tempSelected {
    background-color: grey;
}
.selected {
    background-color: lightgreen;
}
.actionCol {
    float: left;
    width: 174px;
    margin-right: -4px;
}

#invitations {
    width: calc(100% - 170px - 170px - 170px);
    min-width:170px;
}

.actionColInner {
    border-left: 4px solid black;
    border-right:4px solid black;
}

.fight {
    width: 100%;
    height: 100%;
}

.fightSide {
    /*border: 1px solid red;*/
    height: 100%;
    text-align: end;
    width: 40%;
    display:inline-block;
    vertical-align:top;
}
.fightSideLeft {
    direction:rtl
}
.noMansLand{
    display:inline-block;
    width:20%;
}
#invitations .fightSide{
    width:45%
}
#invitations .noMansLand{
    width:10%;
}
/*Mark where the front of a side is*/
.fightSide::before{
    content:"->";
}

.fightSideLeft.demon {
    float: left
}

.fightSideRight.demon {
    float: right
}

.demon {
    display: inline-block;
    width: 80px;
    overflow: hidden;
}

.demonPower {
    font-weight: bold;
    color: red;
}

.human {
    background: lightyellow;
}

.you {
    filter:drop-shadow(0px 0px 10px #0af)drop-shadow(0px 0px 20px #0af)
    /*background: lightblue;*/
}

.highlight {
    filter:drop-shadow(0px 0px 10px #0f0)drop-shadow(0px 0px 20px #0f0)
    /*background: lightgreen;*/
}

.hidden {
    display: none;
}

.summonCount {
    display: inline-block;
}
